.leftcolumn {
	height: auto;
	width: 200px;
	background-color: #151515;
	left:0;
	overflow-x: hidden;
	padding: 20px;
	position: fixed;
	text-decoration-color: white;
}

.text {
	font-size: 20px;
	color: 	white;
}

.list {
	list-style: none;
	float: 	left;
	padding: 	12px;
	height: 15%;
}
.border {
	border: 1px solid black;
	height: auto;
}
.sidenave:a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}