*{
    box-sizing: border-box;
  }
  
  
  
  .header {
   background-color: #96f0e4;
    text-align: center;
    padding:2px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    
  }
  
  .column {
    float: left;
      }
      
  .column.sides {
    width: 25%;
  }
  
  .column.middle {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .row:after {
    content: "";
    display: grid;
    clear: both;
    padding: 5px;
  }
  .footer {
   background-color: #96f0e4;
    text-align: center;
    position: fixed;
    bottom: 1;
    left: 0;
    width: 100%;
  }