h1 {
 color: white;
 font-family: Colibri;
 font-size: 40px;
 text-align: center;
 font-style: oblique;
}

body {
  background-color: #008080;
}



.list {
  font-style: Colibri;
  color:white;
  border: 10px solid #3EDEA9;
  border-style: inset;
  padding: 50px;
  font-size: 18px;
}
.animatedBox {
  aligned:center
  width: 300px;
  padding: 40px;
  text-align: center;
  font: 24px Time New Roman;
  color: white;
  background: yellowgreen;
  border: 8px solid darkgreen;
  animation: myAnimation 6s linear 1s 1 forwards;
}

@keyframes myAnimation {
  50% {
    border: 60px solid orange;
    
  }	
}

.text{
  padding:25px;
  font: Colibri;
  color:white;
  margin-left: 5%;
}
  
.p{
  margin-left: 0.5%;
  text-align: left;
}

.Headings{
  color:white;
  text-align: center; 
  padding: 30px;
  border-bottom-width: 6px;
  border-top-width: 8px;
  border-bottom-style: double;
  border-top-style: double;
  border-bottom-color: orange;
  border-top-color: purple;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  
}

div.bounce {
  width: 50%;
  padding: 30px;
  background: orangered;
  position: relative;
  animation: bounce 2s ease-in 2s 6 alternate none;
  font-size: 30px;
  text-align: center;
  border-style: outset;
  border-style: solid;
  border-width: 20px;
  border-color: black;
}
@keyframes bounce {
	from {
	  top: 5%;
	  left: 10%;
	  }
	to {
	  top: 20%;
	  left: 80%;
  }


  