body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;				
}
#next2A{
    background-color: rgba(28, 228, 235, 0.493);
    box-sizing: content-box;
    margin: 5%;
    border:solid;
    border-color: darkblue;
    border-width: medium;
    padding: 10%;
}
#container {
	margin: 0 auto; 				
	text-align: left; 				
	width: 100%; 					
}

#header {
    width: 100%;
    text-align: center;				
}
#content {
	float: left;					
    width: 47%;
    height: 100%;					
}
#in{
    padding: 10%;
}
#inside1 #inside2 {
    padding: 10%;
    float: left;					
    width: 50%;
    height: 100%;
    text-align: left;
}
#sidebar-left {
	float: left; 												
    width: 25%; 
    padding:1%; 					
    text-align: center;					
}

#sidebar-right {
	float: right; 				
    width: 24%;
    padding:1%; 					
    text-align: center;
}


#footer {
	clear: both; 					
	width: 100%;					
}
body {
	background-color: #eee;
	color: white;
}
#container {
	background-image: url(images/ast.jpg);; 		
}
#header {
	background-color: rgba(118, 138, 226, 0.685);
	height: 85px;
}
#content {
    background-image: url(images/girl.png);
    opacity:5%;
}
#sidebar-left, #sidebar-right {
	background-color: rgba(42, 216, 19, 0.664);
}
#footer {
	background-color: rgba(106, 166, 214, 0.527);
	width: 100%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
  } 
  .fa:hover {
    opacity: 0.8;
  }
 
.fa-facebook {
    background: #3B5998;
    color: white;
  
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
